<body>
  <header>
      <h1>Bookers</h1>
  <p>Home/Users/Books/logout</p>
  </header>
  <main>
  <h1><strong>welcome to Bookers!!</strong></h1>
  <p>In Bookers,</p><br/>
  <p>you can share and exchange your opinions, inpressions, and emotions</p><br/>
  <p>about various books</p>
  </main>
</body>